@page
@model Proiect_Daniela.Pages.Departamente.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalii Departamente</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departament.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departament.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departament.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departament.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departament.NumarAngajati)
        </dt>
        <dd class="col-sm-10" style="margin-bottom:10px">
            @Html.DisplayFor(model => model.Departament.NumarAngajati)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-dark" style="margin-bottom:10px" asp-route-id="@Model.Departament?.ID">Editeaza</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
