@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cautare</h1>
    
</div>

<form method="post" class="searchForm">
    <input type="text" name="searchString" />
    <input type="submit" value="Search" />
</form>


@foreach (var angajat in Model.Angajati)
{
    <table class="table">
        <thead>
        <tr>
            <th>Nume</th>
            <th>Email</th>
            <th>Departament</th>
            <th>Salariu</th>
            <th>Data Nasterii</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>@angajat.Name</td>
                <td>@angajat.Email</td>
                <td>@angajat.Department</td>
                <td>@angajat.Salary</td>
                <td>@angajat.DateOfBirth</td>
            </tr>
        </tbody>
    </table>

}